* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: gray;
  }

  .big-cont {
    margin: 100px;
    padding: 160px 700px;
    background-color: #556b2f;
  }
  .cont {
    display: flex;
    gap: 2rem;
    border: 3px solid rgb(166, 147, 38);
    padding: 100px 20px;
    margin: 0 -130px;
    background-color: #008080;
  }

  .size {
    padding: 5px 30px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 30px;
    border: 0px;
  }

  .or {
    margin-top: 7px;
    font-size: 30px;
  }

  .playAgain {
    background-color: #adff2f;
  }

  .playAgain:hover {
    color: white;
    background-color: #82c018;
  }

  .resetGame {
    background-color: #dc143c;
  }

  .resetGame:hover {
    color: white;
    background-color: darkred;
  }