* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: gray;
  }

  .big-cont {
    margin: 100px;
    padding: 160px 700px;
    background-color: #556b2f;
    
  }
  .cont {
    display: flex;
    gap: 2rem;
    border: 3px solid rgb(166, 147, 38);
    padding: 100px 20px;
    margin: 0 -130px;
    background-color: #008080;
  }

  .size {
    padding: 5px 30px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 30px;
    border: 0px;
  }

  .or {
    margin-top: 7px;
    font-size: 30px;
  }

  .playAgain {
    background-color: #adff2f;
  }

  .playAgain:hover {
    color: white;
    background-color: #82c018;
  }

  .resetGame {
    background-color: #dc143c;
  }

  .resetGame:hover {
    color: white;
    background-color: darkred;
  }



  /* IPAD */

@media (max-width: 769px){


.big-cont{
  margin: 0;
  padding: 0;
  width: 500px;
  margin-top: 30%;
  margin-left: 30px; 

}

.cont{
  padding: 100px;
  margin-left: 1px;
}
.size{
  padding: 10px 30px;
  /* font-size: 16px; */
}

.or{
  margin-top: 20px;
}
}

    
  /* phone */

@media (max-width:  500px) {   

  .big-cont{
    width: 300px;
    margin: 60% 0;
  }

  .cont{
    padding-left: 70px;
  }
  .size{
    padding: 15px 30px;
    font-size: 20px;
  }

}