*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif , Arial;
}

body{
    margin: 0 300px;
    width: 70%;
    height: 900px;
    background-color: gray;
}

.bar{
    background-color: darkgoldenrod;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.main{
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;


}

/* Left Side */
.left{
    grid-column: 1;
    background-color: darkolivegreen;
}

.opacity{
    opacity: 0.4;
}

.player1,
.player2{
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    color: rgb(221, 69, 69);

}

.total1,
.total2{
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.winner1,
.winner2{
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    color: rgb(90, 22, 153)
}


.score1Box,
.score2Box{
    margin-top: 80%;
    margin-left: 120px;
    margin-right: 120px;
    padding: 20px 10px;
    border: 1px solid rgb(238, 255, 0);
    border-radius: 10px;
    background-color: rgb(194, 172, 46)
}
.currentScore1,
.currentScore2{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.currentScoreOf1,
.currentScoreOf2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.container{
    position: relative;
}
.check1{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: blue;
    bottom: 15px;
    left: 78%;
    display: block;
    
}

/* MIDDLE */

.mid{
    grid-column: 2;
    background-color: teal;
}

.mid p{
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    
}

.target{
    
    margin-top: 15px;
    margin-left: 30%;
    background-color: salmon;
    height: 30px;
}

.start{
    margin-left: 35%;
    margin-top: 13px;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: greenyellow;
}


.roll ,
.hold ,
.reset{
    margin-left: 30%;
    margin-top: 13px;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
    background-color: gold;
}

.hold{
    
    margin-left: 33%;
    
}

.reset{
    background-color: crimson;
    color: white;
}


/* right Side */

.right{
    grid-column: 3;
    background-color: darkkhaki;
    
}

.check2{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: springgreen;
    bottom: 15px;
    left: 78%;
    display: block;
    
}

/* DICES */

.diceOne{
    background: url(./assets/dice-1.png) center center  no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 50px;
}

.diceTwo{
    background: url(./assets/dice-2.png) center center  no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 50px;
}

.diceThree{
    background: url(./assets/dice-3.png) center center  no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 50px;
}

.diceFour{
    background: url(./assets/dice-4.png) center center  no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 50px;
}

.diceFive{
    background: url(./assets/dice-5.png) center center  no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 50px;
}

.diceSix{
    background: url(./assets/dice-6.png) center center  no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-bottom: 50px;
}

.hiddenDice{
    display: none;
}

/* ------------------------------------------------------------------- */

/* PHONE */

@media (max-width:500px){

body{
    margin: 0;
    width: 100%;
}
      

.bar{
font-size: 10px;
}

.main{
    grid-template-columns: 33vw 33vw 33vw;

}

.player1,
.player2{
    font-size: 20px;
}

.check1,
.check2{
    display: none;
}

.total1,
.total2{
    font-size: 20px;
}
.winner1,
.winner2{
    font-size: 12px;
    margin-left: 30px;
    width: 10ch;
}


.score1Box,
.score2Box{
    margin-left: 15%;
    padding: 10px 40px;
    margin-top: 200%;
}
.currentScore1,
.currentScore2{
    font-size: 15px;
}

.currentScoreOf1,
.currentScoreOf2{
    font-size: 20px;
}



/* MIDDLE */


.mid p {
    font-size: 13px;
    font-weight: bold;
    
}

.target{
    width: 60px;
    margin-bottom: 10px;

}
.start{
    margin-left: 30%;
    padding: 5px 10px;
    width: 60px;
}

.firstDice,
.secondDice{
    width: 50px;
    height: 50px;
    margin-left: 30%
}

.roll,
.hold ,
.reset{
    margin-left: 30%;
    padding: 5px 10px;
    width: 60px;
}

.roll ,
.hold{
    margin-bottom: 10px
}
}

/* IPAD */

@media (max-width: 769px){

    body{
        margin: 0;
        width: 100%;
    }

    
    .bar{
    font-size: 30px;
    }
    
    .main{
        grid-template-columns: 33vw 33vw 34vw;
        height: 102.7%;
    
    }
    
    .player1,
    .player2{
        font-size: 40px;
    }
    
    .check1,
    .check2{
        display: none;
    }
    
    .total1,
    .total2{
        font-size: 50px;
    }
    .winner1,
    .winner2{
        font-size: 20px;

    }
    
    .score1Box,
    .score2Box{
        margin-left: 25%;
        padding: 15px 70px;
        margin-top: 150%;
    }

    .currentScore1,
    .currentScore2{
        font-size: 30px;
    }
    
    .currentScoreOf1,
    .currentScoreOf2{
        font-size: 30px;
    }
    
    
    
    /* MIDDLE */
    
    
    .mid p {
        font-size: 25px;
        font-weight: 600;
    }
    
    .target{
        width: 100px;
        margin-bottom: 10px;
        height: 50px;
        font-size: 20px;
    
    }

    
    .firstDice,
    .secondDice{
        width: 100px;
        height: 100px;
        margin-left: 33%
    }
    
    .start,
    .roll,
    .hold ,
    .reset{
        margin-left: 20%;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 19px;
        font-weight: 600;
    }
    .hold{
        padding: 10px 40px;
    }

    
    .roll ,
    .hold{
        margin-bottom: 40px
    }


}
